*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #242424;
  color: white;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}