*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #242424;
  color: white;
}

#root{
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
}

#parent1{
  background-color: #242424;
  color: white;
}

#child1{
  background-color: #242424;
  color: red;
}

#child2{
  background-color: #242424;
  color: yellowgreen;
}

#child3{
  background-color: #242424;
  color: blue;
}