*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #242424;
  color: white;
}

#root{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card{
  background-color: rgb(212, 212, 212);
  color: black;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.card h1{
  color: red;
}

.card p{
  color: rgb(52, 58, 52);
}

.card button{
  color: white;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.card button:hover{
  background-color: white;
  border: 1px solid black;
  color: black;
}

.card button:active{
  background-color: black;
  border: 1px solid white;
  color: white;
}