*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #757575;
  color: #e0e0e0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}
button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
